{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Commit intention{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2>Commit intention</h2>
            <p>Write your expectations about the book.</p>
            <form method="post">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Commit</button>
            </form>
        </div>
    </div>
{% endblock %}
