{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}All books{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            <h2>{{ object.title }}</h2>
            <p>Author: {{ object.author }}</p>

            {% if move_to_shelf_form %}
            <form method="POST" action="{% url 'booktracker:move_to_shelf' pk=object.id %}">
                {{ move_to_shelf_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-sm">Change</button>
            </form>
            {% endif %}

            {% if add_form %}
            <form method="POST" action="{% url 'booktracker:shelve' pk=object.id %}">
                {{ add_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add to shelf</button>
            </form>
            {% elif remove_form %}
                <form method="POST" action="{% url 'booktracker:deshelve' pk=object.id %}">
                    {{ remove_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove from shelf</button>
                </form>
            {% endif %}

            <p>Publisher: {{ object.publisher }}</p>
            <p>Year: {{ object.year }}</p>

            <h3>Margin notes</h3>
            {% for note in margin_notes %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ note.date }}</p>
                        <p class="card-text">{{ note.body }}</p>
                    </div>
                    <a href="{% url 'booktracker:remove_marginnote' entity_id=object.id pk=note.id %}" class="btn btn-link">Remove</a>
                </div>
            {% empty %}
                <p>No notes yet...</p>
            {% endfor %}
            <a href="{% url 'booktracker:leave_marginnote' pk=object.id %}" class="btn btn-secondary">Jot down</a>
        </div>
        <div class="col-sm-9">
            <h3>Description</h3>
            <p>{{ object.description }}</p>
            {% if remove_form %}
                {% if intention_note %}
                <div class="card">
                    <div class="card-header">
                        <p class="card-title">Intention</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ intention_note.date }}</p>
                        <p class="card-text">{{ intention_note.body }}</p>
                    </div>
                    <a href="{% url 'booktracker:drop_intention' entity_id=object.id pk=intention_note.id %}" class="btn btn-link">Remove</a>
                </div>
                {% else %}
                    <a href="{% url 'booktracker:commit_intention' pk=object.id %}" class="btn btn-light">Commit your intention</a>
                {% endif %}
                {% if feedback_note %}
                <div class="card">
                    <div class="card-header">
                        <p class="card-title">Feedback</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ feedback_note.date }}</p>
                        <p class="card-text">Rating: {{ feedback_note.rating }}</p>
                        <p class="card-text">{{ feedback_note.body }}</p>
                    </div>
                    <a href="{% url 'booktracker:remove_feedback' entity_id=object.id pk=feedback_note.id %}" class="btn btn-link">Remove</a>
                </div>
                {% else %}
                    <a href="{% url 'booktracker:leave_feedback' pk=object.id %}" class="btn btn-light">Leave feedback</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
