{% extends 'base.html' %}

{% block title %}All books{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            <div>
                <h1>User</h1>
                <p>Username: {{ shelf_owner.username }}</p>
                <p>Email: {{ shelf_owner.email }}</p>
            </div>
            <ul>
                {% for shelf in book_counters %}
                <li>{{shelf.name}} ({{ shelf.num_books }})</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9">
            <h1>Your shelf</h1>
            {% for shelf in object_list %}
                <h3>{{ shelf.name }}</h3>
                <ul>
                    {% for book in shelf.book_set.all %}
                        <li><a href="{% url 'booktracker:book_detail' pk=book.id %}">{{ book }}</a></li>
                    {% empty %}
                        <li>No books yet.</li>
                    {% endfor %}
                </ul>
            {% empty %}
                <p>No shelves yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
